* {
  font-family: "Montserrat";
}

/* ----------------------NAVBAR---------------------- */
.nav_containter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  height: 80px;
  margin-left: 3%;
  border-bottom: 1px solid rgb(206, 208, 208);
  font-weight: 300;
}

.name_in_nav {
  margin-left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 25px;
  width: 100px;
}

.basket_account_navbar {
  display: flex;
  justify-content: space-between;
  width: 75px;
  height: 40px;
}

.basket_account_navbar img {
  margin-top: 6px;
}

.img_loupe {
  display: flex;
  width: 32px;
  height: 32px;
  transition: 0.2s; /* Время эффекта */
}

.img_loupe:hover {
  transform: scale(1.1); /* Увеличиваем масштаб */
}

.basket_counter_hide {
  display: none;
}

.basket_counter_see {
  margin-right: 3px;
  width: 18px;
  height: 15px;
  display: flex;
  justify-content: center;

  border-radius: 45%;
  font-weight: 400;
  font-size: 12px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(249, 17, 85);
  color: white;
}

.img_basket {
  width: 24px;
  height: 24px;
  transition: 0.2s; /* Время эффекта */
}

.img_basket:hover {
  transform: scale(1.1); /* Увеличиваем масштаб */
}

.img_account {
  width: 27px;
  height: 27px;
  transition: 0.2s; /* Время эффекта */
}

.img_account:hover {
  transform: scale(1.1); /* Увеличиваем масштаб */
}
/* -------------------------------------------------- */

/* ----------------------CATEGORIES---------------------- */
.categories {
  font-weight: 300;
  color: rgb(119, 118, 136);
  font-size: 16px;
  align-items: center;
  justify-content: center;
  width: 50%;

  display: flex;
  justify-content: space-around;
}

.categories_container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.text_no_decor {
  text-decoration: none;
  color: rgb(119, 118, 136);
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.2s;
}

.text_no_decor:hover {
  background-size: 100% 1.5px;
}

/* -------------------------------------------------- */

.banner_img {
  margin-left: 80px;
  margin-top: 30px;
  width: 90%;
  height: 600px;
}

.middle_text {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 22px;
}

.descriptions_container {
  width: 1100px;
  height: 200px;
  margin-top: 40px;
  margin-left: 197px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.block1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 26px 0 0;
  padding-left: 20px;

  background-color: rgb(249, 249, 249);
}

.block2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 26px 0 0;
  padding-left: 20px;

  background-color: rgb(249, 249, 249);
}

.block3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 26px 0 0;
  padding-left: 20px;

  background-color: rgb(249, 249, 249);
}

.block4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 26px 0 0;
  padding-left: 20px;

  background-color: rgb(249, 249, 249);
}

.img_in_desc {
  margin-right: auto;
  width: 30px;
}

.text_in_desc {
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

.text_in_desc-1 {
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px;

  font-weight: 400;
}

.text_in_desc-2 {
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px;

  font-weight: 150;
}

/* ------------------------------- */

.collection_container {
  width: 1100px;

  height: 370px;

  margin-top: 120px;
  margin-left: 170px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.block5 {
  display: flex;

  flex-direction: column;
  margin: 0 26px 0 0;
}

.block6 {
  display: flex;
  align-items: center;

  flex-direction: column;
  margin: 0 26px 0 0;
}

.block7 {
  display: flex;
  align-items: center;

  flex-direction: column;
  margin: 0 26px 0 0;
}

.block8 {
  display: flex;
  align-items: center;

  flex-direction: column;
  margin: 0 26px 0 0;
}

.old_price {
  padding-left: 7px;
  font-size: 13px;
  color: rgb(148, 146, 146);
}

.img_in_desc-2 {
  width: 300px;
  height: 300px;
  transition: 0.2s; /* Время эффекта */
}

.img_in_desc-2:hover {
  transform: scale(1.1); /* Увеличиваем масштаб */
}

.text_in_desc-3 {
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 8px;

  font-weight: 350;
}

.text_in_desc-4 {
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 8px;

  font-weight: 300;
}

.button_container {
  display: flex;
  justify-content: center;
}

.btn_view_collection {
  margin-top: 40px;

  background-color: rgb(249, 249, 249);
  font-weight: 250;
  width: 160px;
  height: 45px;
}

.btn_view_collection:hover {
  background-color: rgb(245, 245, 245);
}

.view_collection_container {
  margin-left: 13.8%;
  width: 76%;
  height: 450px;
  display: grid;

  margin-top: 80px;
  grid-template-columns: 1fr 1fr;
}

.block9 {
  background-color: rgb(42, 37, 75);
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block9-text-1 {
  color: white;
  font-weight: 350;
  font-size: 25px;
  margin-bottom: 20px;
}

.block9-text-2 {
  color: white;
  font-weight: 200;
  font-size: 15px;
}

.block-9-btn {
  color: white;
  margin-top: 40px;
  background-color: rgb(74, 69, 100);

  font-weight: 250;
  width: 160px;
  height: 45px;
}

.block-9-btn:hover {
  background-color: rgb(61, 55, 91);
}

.content_in_block9 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 80%;
  height: 80%;
}

.block10 img {
  height: 100%;
}

#toTop {
  background-color: #dcdddb;
  padding: 5px;
  cursor: pointer;
  z-index: 9999;
  bottom: 10px;
  right: 10px;
  position: fixed;
  border-radius: 15%;
  width: 40px;
}

#toTop:hover {
  background-color: rgb(214, 214, 211);
}

.arrow {
  display: flex;
  justify-content: center;
  color: rgb(65, 65, 65);
}

.bottom-block {
  margin-top: 70px;
  width: 100%;
  height: 500px;
  background-image: url("/img/sunset.jpeg");
}

.text-content-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}

.bottom-block-p1 {
  font-weight: 400;
  font-size: 25px;
}

.bottom-block-p2 {
  font-weight: 300;
  font-size: 15px;
}

.bottom-block-p3 {
  font-weight: 300;
  font-size: 15px;
}

.checkboxs {
  display: flex;
}

.checkboxs p {
  font-weight: 300;
  font-size: 13px;
}

.checkbox-1,
.checkbox-2,
.checkbox-3 {
  display: flex;
  margin: 15px;
}

.checkbox-1 input,
.checkbox-2 input,
.checkbox-3 input {
  margin-right: 10px;
  border-radius: 50%;
}

.input-in-bottom-block {
  margin-top: 20px;
  padding-left: 20px;
  background-color: white;
  height: 50px;
  width: 420px;
  color: black;
  font-weight: 300;
  font-size: 14px;
}

.input_btn-bottom-block button {
  background-color: rgb(53, 47, 91);
  height: 50px;
  width: 100px;
  font-weight: 300;
  font-size: 15px;
}

.input_btn-bottom-block button:hover {
  background-color: rgb(61, 55, 91);
}

footer {
  width: 100%;
  height: 430px;
  background-color: rgb(42, 37, 75);
  border: 1px solid rgb(42, 37, 75);
}

.footer_container {
  width: 90%;
  height: 80%;
  margin: auto;
  margin-top: 65px;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.first-category {
  font-weight: 300;
  font-size: 17px !important;
  width: 100%;
}

.columns p {
  padding-top: 15px;
  color: white;
  font-weight: 300;
  font-size: 13px;
}

.input_in_footer {
  background-color: rgb(74, 70, 102);
  color: white;

  width: 460px;
  height: 50px;
  padding-left: 20px;

  font-weight: 200;
  font-size: 14px;
}

.btn_in_footer {
  background-color: aquamarine;
  height: 50px;

  width: 120px;
  background-color: white;
  color: black;
  font-size: 15px;
}
.btn_in_footer:hover {
  background-color: rgb(237, 236, 236);
}

.input_and_btn_in_footer {
  display: flex;
}

.text_in_column-4 {
  color: white;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 15px;
}

.links_in_footer {
  margin-top: 30px;
  padding-top: 24px;
  border-top: 2px solid rgb(78, 77, 147);
}

.content_in_links {
  margin-top: 20px;
  display: flex;
}

.text_in_links_content {
  margin: auto;
  color: white;
  font-weight: 100;
  font-size: 14px;
}

.icons_in_footer img {
  width: 25px;

  margin-right: 15px;
}

.first-category-menu,
.first-category-categories,
.first-category-about-us {
  font-size: 16px !important;
  width: 100px;

  transition: all 0.2s ease-out;
}

.first-category-menu:hover,
.first-category-categories:hover,
.first-category-about-us:hover {
  color: rgb(169, 169, 169);
}

/* -------------------------------------------------------- */
.photo_and_description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid teal; */
}

.photo_and_description img {
  margin-top: 50px;
  margin-left: 50px;
  width: 500px;
  height: 500px;
}

.name {
  margin-top: 100px;
  font-weight: 350;
  font-size: 25px;
}

.price_container {
  display: flex;
}

.price {
  margin-top: 10px;
  font-weight: 350;
  font-size: 20px;
}

.old_price_in_chair_card {
  font-size: 13px;

  font-weight: 200;
  margin-top: 10px;
  margin-left: 10px;
}

.word_description {
  margin-top: 30px;
  font-weight: 330;
  font-size: 17px;
}

.description {
  margin-top: 20px;
  /* border: 1px solid teal; */
  width: 600px;
  font-weight: 280;
  font-size: 15px;
}

.list {
  margin-top: 20px;
}

.list li {
  margin-left: 12px;
  font-weight: 280;
  font-size: 15px;
  list-style: disc;
}

.word_size {
  margin-top: 50px;

  font-weight: 330;
  font-size: 17px;
}

.size {
  margin-top: 10px;

  display: flex;
  font-weight: 280;
  font-size: 15px;
}

.size_cm_container {
  margin-top: 5px;

  display: flex;
  font-weight: 280;
  font-size: 15px;
}

.size_container {
  margin-top: 17px;

  display: flex;
}

.size-1,
.size-2,
.size-3 {
  margin-right: 50px;
  font-weight: 300;
  font-size: 15px;
}

.size-cm-1,
.size-cm-2,
.size-cm-3 {
  margin-top: 5px;

  margin-right: 57px;
  font-weight: 300;
  font-size: 15px;
}

.counter_container {
  width: 530px;
  /* border: 1px solid teal; */
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter_container p {
  padding-right: 25px;
  font-weight: 350;
  font-size: 15px;
}

.counter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  align-items: center;
  justify-content: space-around;
  background-color: rgb(249, 249, 249);
  width: 120px;
  height: 50px;
}

.counter button {
  /* border: 1px solid teal; */
  height: 100%;

  transition: all 0.2s ease-out;
}

.counter button:hover {
  background-color: rgb(244, 243, 243);
  color: rgb(169, 169, 169);
}

.count {
  display: flex;
  justify-content: center;
}

.btn_add_to_card {
  height: 50px;
  width: 130px;
  background-color: rgb(42, 37, 75);
  color: white;
  font-size: 15px;
  font-weight: 300;
}

.btn_add_to_card:hover {
  background-color: rgb(54, 48, 89);
}

.bottom-block-chair-card {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: rgb(249, 249, 249);
}

.gmail-form-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: auto;
  background-color: white;
  width: 90%;
  height: 80%;
}

.gmail-form-container h1 {
  font-size: 30px;
  font-weight: 400;
  margin-top: 80px;
}

.gmail-form-container h2 {
  margin-top: 30px;

  font-size: 14px;
  font-weight: 400;
}

.gmail-form-container h3 {
  margin-top: 11px;

  font-size: 14px;
  font-weight: 400;
}

.input-and-btn-in-chair-card {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  background-color: rgb(249, 249, 249);
  height: 50px;
  width: 500px;
  padding-left: 20px;
}

.input-and-btn-in-chair-card input {
  width: 100%;
}

.input-and-btn-in-chair-card button {
  background-color: rgb(42, 37, 75);
  width: 120px;
  font-size: 15px;
  font-weight: 400;
  color: white;
}

.last_string_in_description {
  border-bottom: 1px solid rgb(214, 213, 213);
  width: 524px;
}
